<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
</startup>
  
  

  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <!-- http://blog.davidebbo.com/2011/01/nuget-versioning-part-1-taking-on-dll.html -->
      <!-- http://blog.davidebbo.com/2011/01/nuget-versioning-part-2-core-algorithm.html -->
      <!-- http://blog.davidebbo.com/2011/01/nuget-versioning-part-3-unification-via.html -->      
      <!-- https://devnet.kentico.com/articles/referencing-multiple-versions-of-the-same-assembly-in-a-single-application -->
      
      <!-- http://semver.org/ Semantic Versioning, to tell when a DLL is compatible between versions -->
      
      <!-- checking Assembly API compatibility -->
      <!-- http://stackoverflow.com/questions/1456785/a-definitive-guide-to-api-breaking-changes-in-net -->
      <!-- http://stackoverflow.com/questions/3090792/tool-to-verify-compatibility-of-a-public-apis -->
      <!-- http://stackoverflow.com/questions/783790/i-am-looking-for-a-tool-like-libcheck-to-evaluate-different-versions-of-the-same -->

      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>

    </assemblyBinding>
    
  </runtime>

</configuration>
